ul.elfmenu {
    background-color: #456d8a;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.elfmenu li {
    float: left;
}

.elfmenu li a {
    color: white;
    display: block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

.elfmenu li a:hover {
    background-color: #303598;
}